In [26]:
import os
import sys
import sqlite3
import numpy as np
import pandas as pd
import geopandas as gp
import plotly.express as px

import pyet

In [27]:
# sys.path.append('/home/pooya/w/DroughtMonitoringIran/')

DATABASE_PATH = "../database/database.db"

In [28]:
conn = sqlite3.connect(DATABASE_PATH)

data = pd.read_sql(sql='SELECT * FROM ground_data_monthly', con=conn)

geoinfo = pd.read_sql(sql='SELECT * FROM ground_data_geoinfo', con=conn)

conn.close()

In [29]:
geoinfo

,region_id,region_name,station_name,station_id,lat,lon,station_elevation
0,MASA,Mazandaran,Alasht,99361,36.07,52.84,1805.0
1,MASA,Mazandaran,Amol,99309,36.48,52.47,23.7
2,MASA,Mazandaran,Babolsar,40736,36.70,52.64,-21.0
3,MASA,Mazandaran,Baladeh,99357,36.20,51.80,2120.0
4,MASA,Mazandaran,Bandar-E-Amirabad,99306,36.86,53.39,-20.0
5,MASA,Mazandaran,Galugah,99299,36.74,53.84,-10.0
6,MASA,Mazandaran,Gharakhil,40737,36.49,52.11,14.7
7,MASA,Mazandaran,Kiyasar,40760,36.25,53.55,1294.3
8,MASA,Mazandaran,Kojur,99348,36.39,51.73,1550.0
9,MASA,Mazandaran,Nowshahr,40734,36.66,51.47,-20.9
10,MASA,Mazandaran,Polsefid,99360,36.10,53.06,610.0
11,MASA,Mazandaran,Ramsar,40732,36.90,50.68,-20.0
12,MASA,Mazandaran,Sari,40759,36.54,53.00,23.0
13,MASA,Mazandaran,Sari (Dasht-E-Naz Airport),40788,36.64,53.20,16.7
14,MASA,Mazandaran,Siahbisheh,40735,36.23,51.30,1855.4

In [30]:
data

,year,month,region_id,region_name,station_id,station_name,lat,lon,station_elevation,tmax,...,Romanenko,Linacre,Turc,Jensen-Haise,Mcguinness-Bordne,Hargreaves,FAO-24,Abtew,Makkink,Oudin
0,1951,1,MASA,Mazandaran,99361,Alasht,36.07,52.84,1805.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1951,2,MASA,Mazandaran,99361,Alasht,36.07,52.84,1805.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1951,3,MASA,Mazandaran,99361,Alasht,36.07,52.84,1805.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1951,4,MASA,Mazandaran,99361,Alasht,36.07,52.84,1805.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1951,5,MASA,Mazandaran,99361,Alasht,36.07,52.84,1805.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13450,2025,5,MASA,Mazandaran,40735,Siahbisheh,36.23,51.30,1855.4,22.35,...,192.01,135.54,118.02,130.88,159.02,135.75,129.23,142.22,120.13,108.18
13451,2025,6,MASA,Mazandaran,40735,Siahbisheh,36.23,51.30,1855.4,21.96,...,142.01,131.42,105.36,116.40,162.29,130.50,103.82,125.07,106.05,110.40
13452,2025,7,MASA,Mazandaran,40735,Siahbisheh,36.23,51.30,1855.4,25.22,...,179.71,164.84,111.58,132.51,190.40,143.48,106.32,121.51,108.72,129.52
13453,2025,8,MASA,Mazandaran,40735,Siahbisheh,36.23,51.30,1855.4,27.47,...,232.97,183.01,122.99,152.72,185.58,145.12,126.03,130.76,119.73,126.24
13454,2025,9,MASA,Mazandaran,40735,Siahbisheh,36.23,51.30,1855.4,22.71,...,157.36,136.55,90.48,99.38,125.42,101.16,82.95,103.58,88.74,85.32

In [31]:
data.columns

Index(['year', 'month', 'region_id', 'region_name', 'station_id',
       'station_name', 'lat', 'lon', 'station_elevation', 'tmax', 'tmax_count',
       'tmin', 'tmin_count', 'tm', 'tm_count', 'umax', 'umax_count', 'umin',
       'umin_count', 'um', 'um_count', 'ffm', 'ffm_count', 'sshn',
       'sshn_count', 'pm', 'pm_count', 'p0m', 'p0m_count', 'ewm', 'ewm_count',
       'radglo24', 'radglo24_count', 'td_m', 'td_m_count', 'twet_m',
       'twet_m_count', 'tsoil_m', 'tsoil_m_count', 'ewsm', 'ewsm_count', 'evt',
       'evt_count', 'rrr24', 'rrr24_count', 'date', 'Penman',
       'Penman-Monteith', 'ASCE-PM', 'FAO-56', 'Priestley-Taylor',
       'Kimberly-Penman', 'Thom-Oliver', 'Blaney-Criddle', 'Hamon',
       'Romanenko', 'Linacre', 'Turc', 'Jensen-Haise', 'Mcguinness-Bordne',
       'Hargreaves', 'FAO-24', 'Abtew', 'Makkink', 'Oudin'],
      dtype='object')

In [32]:
data = data[[
    'year', 'month', 'date',
    'region_id', 'region_name', 'station_id', 'station_name', 
    'lat', 'lon', 'station_elevation',
    'tmax', 'tmax_count', 'tmin', 'tmin_count', 'tm', 'tm_count', 'rrr24', 'rrr24_count',
    'Hargreaves'
]]

In [33]:
data

,year,month,date,region_id,region_name,station_id,station_name,lat,lon,station_elevation,tmax,tmax_count,tmin,tmin_count,tm,tm_count,rrr24,rrr24_count,Hargreaves
0,1951,1,1951-01-31 00:00:00,MASA,Mazandaran,99361,Alasht,36.07,52.84,1805.0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
1,1951,2,1951-02-28 00:00:00,MASA,Mazandaran,99361,Alasht,36.07,52.84,1805.0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
2,1951,3,1951-03-31 00:00:00,MASA,Mazandaran,99361,Alasht,36.07,52.84,1805.0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
3,1951,4,1951-04-30 00:00:00,MASA,Mazandaran,99361,Alasht,36.07,52.84,1805.0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
4,1951,5,1951-05-31 00:00:00,MASA,Mazandaran,99361,Alasht,36.07,52.84,1805.0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13450,2025,5,2025-05-31 00:00:00,MASA,Mazandaran,40735,Siahbisheh,36.23,51.30,1855.4,22.35,31,10.65,31,16.51,31,37.41,31,135.75
13451,2025,6,2025-06-30 00:00:00,MASA,Mazandaran,40735,Siahbisheh,36.23,51.30,1855.4,21.96,30,11.50,30,16.73,30,12.81,30,130.50
13452,2025,7,2025-07-31 00:00:00,MASA,Mazandaran,40735,Siahbisheh,36.23,51.30,1855.4,25.22,29,15.04,31,20.12,29,17.20,31,143.48
13453,2025,8,2025-08-31 00:00:00,MASA,Mazandaran,40735,Siahbisheh,36.23,51.30,1855.4,27.47,30,16.04,31,21.76,30,9.20,31,145.12
13454,2025,9,2025-09-30 00:00:00,MASA,Mazandaran,40735,Siahbisheh,36.23,51.30,1855.4,22.71,21,11.97,21,17.34,21,1.10,21,101.16

In [34]:
n = 15
condition = (data['tmax_count'] < n) | (data['tmin_count'] < n) | (data['tm_count'] < n)
data.loc[condition, 'Hargreaves'] = np.nan

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13455 entries, 0 to 13454
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year               13455 non-null  int64
 1   month              13455 non-null  int64
 2   date               13455 non-null  object
 3   region_id          13455 non-null  object
 4   region_name        13455 non-null  object
 5   station_id         13455 non-null  object
 6   station_name       13455 non-null  object
 7   lat                13455 non-null  float64
 8   lon                13455 non-null  float64
 9   station_elevation  13455 non-null  float64
 10  tmax               5790 non-null   float64
 11  tmax_count         13455 non-null  int64
 12  tmin               5791 non-null   float64
 13  tmin_count         13455 non-null  int64
 14  tm                 5790 non-null   float64
 15  tm_count           13455 non-null  int64
 16  rrr24              5791 non-null   float64
 17  rrr24_count        13455 non-null  int64
 18  Hargreaves         5788 non-null   float64
dtypes: float64(8), int64(6), object(5)
memory usage: 2.0+ MB

In [36]:
# df = data.copy().reset_index(drop=True)

# monthly_avg = df.groupby(['region_id', 'station_id', 'month'])[['Hargreaves']].mean(numeric_only=True)

# def replace_with_avg(row):
#     if pd.isna(row['Hargreaves']):
#         return monthly_avg.loc[(row['region_id'], row['station_id'], row['month']), 'Hargreaves']
#     else:
#         return row['Hargreaves']

# df['Hargreaves'] = df.apply(lambda row: replace_with_avg(row), axis=1)

# df.info()

In [37]:
data

,year,month,date,region_id,region_name,station_id,station_name,lat,lon,station_elevation,tmax,tmax_count,tmin,tmin_count,tm,tm_count,rrr24,rrr24_count,Hargreaves
0,1951,1,1951-01-31 00:00:00,MASA,Mazandaran,99361,Alasht,36.07,52.84,1805.0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
1,1951,2,1951-02-28 00:00:00,MASA,Mazandaran,99361,Alasht,36.07,52.84,1805.0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
2,1951,3,1951-03-31 00:00:00,MASA,Mazandaran,99361,Alasht,36.07,52.84,1805.0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
3,1951,4,1951-04-30 00:00:00,MASA,Mazandaran,99361,Alasht,36.07,52.84,1805.0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
4,1951,5,1951-05-31 00:00:00,MASA,Mazandaran,99361,Alasht,36.07,52.84,1805.0,NaN,0,NaN,0,NaN,0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13450,2025,5,2025-05-31 00:00:00,MASA,Mazandaran,40735,Siahbisheh,36.23,51.30,1855.4,22.35,31,10.65,31,16.51,31,37.41,31,135.75
13451,2025,6,2025-06-30 00:00:00,MASA,Mazandaran,40735,Siahbisheh,36.23,51.30,1855.4,21.96,30,11.50,30,16.73,30,12.81,30,130.50
13452,2025,7,2025-07-31 00:00:00,MASA,Mazandaran,40735,Siahbisheh,36.23,51.30,1855.4,25.22,29,15.04,31,20.12,29,17.20,31,143.48
13453,2025,8,2025-08-31 00:00:00,MASA,Mazandaran,40735,Siahbisheh,36.23,51.30,1855.4,27.47,30,16.04,31,21.76,30,9.20,31,145.12
13454,2025,9,2025-09-30 00:00:00,MASA,Mazandaran,40735,Siahbisheh,36.23,51.30,1855.4,22.71,21,11.97,21,17.34,21,1.10,21,101.16

In [38]:
conn = sqlite3.connect(DATABASE_PATH)

data.to_sql('ground_pet_monthly', conn, if_exists='replace', index=False)

conn.commit()
conn.close()